{% extends 'layouts.html' %}

{% block content %}

{% include 'navbar.html' %}

<div class="container mt-4">
    {% include '_messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm">
                <thead>

                    <th>Serial</th>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Desconto</th>
                    <th>SubTotal</th>
                    <!--<th>Atualizar</th>
                    <th>Remover</th>-->

                </thead>

                <tbody>
                    {% for key , produto in session['LojainCarrinho'].items() %}
                    {% set discount = "%0.2f" | format((produto.discount/100) * produto.price|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td><img src="{{url_for('static', filename='images/'+produto.image)}}" alt="{{produto.name}}" width="50" height="50"></td>
                        <td>{{produto.name}}</td>
                        <form action="{{url_for('updateCarro', code=key)}}" method="post">

                           <td>
                                {% set colors = produto.colors.split(',') %}
                                <label for="colors">Cor do Produto :</label>
                                <select name="colors" id="colors">
                                    <option value="{{produto.color}}" style="display: none;">{{produto.color|capitalize}}</option>
                                    {% for color in colors %}
                                        {% set col = color.split(':') %}
                                        <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                    {% endfor %}
                                </select>
                           </td>
                            <td>R$ {{produto.price}}</td>
                            <td><input type="number" name="quantity" min="1" max="10" value="{{produto.quantity}}"></td>
                            {% if produto.discount > 0 %}
                            <td>{{produto.discount}} % &nbsp; = {{discount}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% set Subtotal = produto.price|float * produto.quantity|int %}
                            <td>{{"%0.2f"|format((Subtotal|float) - discount|float)}}</td>

                            <td><button type="submit" class="btn btn-sm btn-success">Atualizar</button></td>

                        </form>
                        <td>
                            <a href="{{url_for('deleteitem', id=key)}}" class="btn btn-sm btn-danger">Remover</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-sm">
                <tr>
                   <td></td>
                   <td> <a href="{{url_for('pedido_order')}}" class="btn btn-sm btn-success float-start">Processar Compra</a></td>
                   <td colspan="3">Imposto:&nbsp; R$ {{imposto}}</td>
                   <td colspan="5">Valor Pagar:&nbsp; R$ {{valorpagar}}</td>
                   <td> <a href="{{url_for('limparcarro')}}" class="btn btn-sm btn-danger float-end">Limpar Carrinho</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

